#img-tela-inicial{
  vertical-align: center;
}

.img-responsive{
  vertical-align: center;
}

.btn-primary{
  background-color: #8B5742;
  font-size: 20px;
}

#imprimir{
  color: #FFFFFF;
}

.panel-title{
  font-family: cursive; 
  font-size: 22px;
  text-align: center;
}

#titulo-tabela{
  font-family:cursive;
  background-color: #f5f5f5;
  font-size: 20px;
}