<!--Formulário responsável por cadastrar as pessoas-->
<div>
  <form [formGroup]="cadForm" (submit)="add()">
    <label class="cadastro" for="name">Name</label>
    <input formControlName="name" id="name"  data-toggle="tooltip" data-placement="bottom" title="Informe o nome da pessoa para cadastrar."/>
    <button type="submit" [disabled]="!cadForm.valid">Cadastrar</button>
    <control-messages [control]="cadForm.controls.name"></control-messages>
  </form>
</div>
<!--Tabela que mostra as pessoas cadastradas-->
<div class="col-md-6" id="tabelaCadastro">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Pessoas Cadastradas
      </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
          <li *ngFor="let pessoa of pessoas"
              [class.selected]="pessoa === selectedPessoa"  class="list-group-item">
            <div class="col-md-2">
              <span class="badge pull-left">{{pessoa.id}}</span>
            </div>
            <span>{{pessoa.name}}</span>
            <div class="delete">
              <button (click)="onSelect(pessoa)" type="button" class="btn btn-primary btn-sm">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
</button>
           <button (click)="delete(pessoa); $event.stopPropagation()" type="button" class="btn btn-danger btn-sm">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Apagar
</button>
            
</div>
          </li>
        </ul>
      </div>
  </div>
</div>



